* {
  margin: 0;
padding: 0;
box-sizing: border-box;
}

.array-container {
    margin-top: 5px;
    display: flex;
    align-items: flex-end;
    max-width: 100%;
    overflow-x: hidden;
    border: red;
}


.array-bar {
    flex-grow: 1;
    background-color: #956fd6;
    display: inline-block;
    margin: 0 0px;
}

.TopBar {
    /* Default Styles */
    display: flex;
    background-color: #d5bdff;
    padding: 15px 10%;
    box-shadow: 5px 10px 18px 0px #888888;

    color: black;
    font-size: 1.25rem;
    font-weight: 500;
}

.TopBar__Title {
    flex-grow: 1;
}

.TopBut {
    background-color: #d5bdff;
    border: none;
    color: black;
    padding: 0px 5%;
    text-align: right;
    display: inline-block;
    cursor: pointer;
}

/* .array-container {
    width: 100%;
    padding: 20px
}


.array-bar {
    width: 0.2px;
    background-color: #956fd6;
    display: inline-block;
    margin: 0 0px;
} */